@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif; }

body {
  background-color: #FFFFFF; }

.header {
  background-color: #FFFFFF;
  float: relative;
  padding: 0;
  margin-bottom: 0px;
  width: 100%;
  height: auto; }

a:hover {
  color: #0e0e0e; }

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none; }

p {
  color: #0e0e0e;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center; }

.portada {
  width: auto;
  height: 410px;
  padding: 5%;
  background-image: url(../images/tim-gouw-1K9T5YiZ2WU-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-position: top;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 75% 25%; }
  .portada .portada__titulo {
    margin-left: 10%;
    padding: 10px;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    color: #FFFFFF;
    text-shadow: 3px 3px 0px #0e0e0e;
    align-self: center; }

.intro-pagina {
  padding: 20px;
  background-color: #EDEDED;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  color: #0e0e0e; }
  .intro-pagina .intro-pagina__titulo {
    margin-bottom: 20px;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center; }
  .intro-pagina p {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center; }

.intro-slides {
  text-align: center;
  margin-bottom: 50px; }

.footer {
  width: 100%;
  height: auto;
  padding: 20px;
  margin-bottom: 0;
  font-size: 1rem;
  text-align: left;
  color: #0e0e0e;
  text-align: center;
  display: flex;
  background-color: #FF913D;
  align-items: center; }
  .footer .footer__texto {
    margin-bottom: 0rem;
    color: #0e0e0e;
    line-height: 1.5; }
  .footer .footer__ayuda {
    margin-left: auto;
    cursor: pointer; }

@media (max-width: 576px) {
  .portada .portada__titulo {
    font-size: 45px;
    text-align: left; }
  .row {
    width: 80%; } }

.portada.metodologias {
  background-image: url(../images/leon-Oalh2MojUuk-unsplash.jpg); }

.metodologias {
  padding: 3rem;
  display: grid;
  grid-template-columns: 2fr 1 fr;
  grid-row-gap: 5%;
  grid-template-areas: 'mvideos__1 mvideos__1 mdescripcion__1'; }

.metodologias__videos {
  grid-area: mvideos__1;
  text-align: center;
  padding-right: 3rem;
  padding-left: 3rem; }

.metodologias__descripcion {
  grid-area: mdescripcion__1;
  align-self: center; }

.metodologias-2 {
  display: grid;
  grid-template-columns: 1fr 2 fr;
  grid-row-gap: 5%;
  grid-template-areas: 'mdescripcion__2 mvideos__2 mvideos__2'; }

.metodologias-2__videos {
  grid-area: mvideos__2;
  text-align: center;
  padding: 20px; }

.metodologias-2__descripcion {
  grid-area: mdescripcion__2;
  align-self: center;
  margin-right: 2rem; }

.metodologias__descripcion-titulo {
  color: #FF913D; }

.metodologias__descripcion-p {
  padding: auto;
  text-align: left;
  color: #0e0e0e; }

.portada.herramientas {
  background-image: url(../images/leon-6WR1FmbVbUE-unsplash.jpg); }

.portada.ejemplos {
  background-image: url(../images/leon-vbxyFxlgpjM-unsplash.jpg); }

.grid-ejemplos {
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 2fr 1fr;
  grid-row-gap: 5%;
  grid-template-areas: 'box__1 box__1 box__3' 'box__2 box__2 box__3' 'box__4 box__4 box__4'; }

.ejemplo__1 {
  grid-area: box__1;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr; }

.ejemplo__2 {
  grid-area: box__2;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr; }

.ejemplo__extra {
  grid-area: box__3;
  margin-left: 10%;
  padding: 20px;
  background-color: #FFC163;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.ejemplo__imagen {
  width: 250px;
  height: 200px;
  padding: 10px;
  align-self: center;
  grid-row: 1 / 4; }

.ejemplo__descripcion {
  grid-column-start: 2;
  justify-content: center;
  align-self: center; }

.ejemplo__extra-titulo {
  padding: 5px;
  margin-bottom: 10%;
  color: #0e0e0e;
  background-color: #FFFFFF;
  text-align: center; }

.ejemplo__p {
  padding: 20px;
  text-align: left; }

.ejemplo__extra-p {
  padding: 0%; }

.ejemplos__titulo {
  padding: 20px;
  text-align: left;
  color: #2C9FE0;
  text-transform: uppercase; }

.formulario {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  background-color: #EDEDED;
  padding: 1rem; }

.formulario__titulo {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.cards {
  margin-top: 50px;
  margin-bottom: 50px; }
  .cards .card:hover {
    transition-duration: .4s;
    transform: translate(0px, -15px); }
