@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif; }

body {
  background-color: #FFFFFF; }

.header {
  background-color: #FFFFFF;
  float: relative;
  padding: 0;
  margin-bottom: 0px;
  width: 100%;
  height: auto; }

a:hover {
  color: #0e0e0e; }

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none; }

p {
  color: #0e0e0e;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center; }

.portada {
  width: auto;
  height: 410px;
  padding: 5%;
  background-image: url(../images/tim-gouw-1K9T5YiZ2WU-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-position: top;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 75% 25%; }
  .portada .portada__titulo {
    margin-left: 10%;
    padding: 10px;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    color: #FFFFFF;
    text-shadow: 3px 3px 0px #0e0e0e;
    align-self: center; }

.intro-pagina {
  padding: 20px;
  background-color: #EDEDED;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  color: #0e0e0e; }
  .intro-pagina .intro-pagina__titulo {
    margin-bottom: 20px;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center; }
  .intro-pagina p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center; }

.footer {
  width: 100%;
  height: auto;
  padding: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 1rem;
  text-align: left;
  color: #0e0e0e;
  text-align: center;
  display: flex;
  background-color: #FF913D;
  align-items: center; }
  .footer .footer__texto {
    margin-bottom: 0rem;
    color: #0e0e0e;
    line-height: 1.5; }
  .footer .footer__ayuda {
    margin-left: auto;
    cursor: pointer; }

@media (max-width: 576px) {
  .portada .portada__titulo {
    font-size: 45px;
    text-align: left; }
  .row {
    width: 80%; } }

.cards {
  margin-top: 50px;
  margin-bottom: 50px; }
  .cards .card:hover {
    transition-duration: .4s;
    transform: translate(0px, -15px); }

.portada.metodologias {
  background-image: url(../images/leon-Oalh2MojUuk-unsplash.jpg); }

.metodologias {
  padding: 3rem; }
  .metodologias .metodologias__descripcion {
    align-self: center;
    margin-right: 2rem;
    padding-top: 1rem; }
  .metodologias .metodologias__descripcion-titulo {
    color: #FF913D; }
  .metodologias .metodologias__descripcion-p {
    padding: auto;
    text-align: left;
    color: #0e0e0e; }

.body__tools {
  background-color: #EDEDED; }

.portada.herramientas {
  background-image: url(../images/leon-6WR1FmbVbUE-unsplash.jpg); }

.tools {
  background-color: #FFFFFF; }

.footer__tools {
  margin-top: 4rem; }

.portada.ejemplos {
  background-image: url(../images/leon-vbxyFxlgpjM-unsplash.jpg); }

.ejemplos__post {
  text-align: center; }
  .ejemplos__post h6 {
    padding: 1rem;
    text-align: justify;
    line-height: 1.5;
    font-size: 1rem;
    margin-bottom: 0px; }
  .ejemplos__post a {
    font-weight: bold; }
  .ejemplos__post .ejemplo__imagen {
    width: 20rem;
    height: auto;
    margin-bottom: 1rem;
    align-self: center;
    grid-row: 1 / 4; }
  .ejemplos__post .ejemplo__descripcion {
    grid-area: box__4;
    grid-column-start: 2;
    justify-content: center;
    align-self: center; }
  .ejemplos__post .ejemplos__titulo {
    padding: 1.5rem;
    text-align: center;
    color: #272727;
    font-weight: bold;
    text-transform: uppercase; }

.formulario {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  background-color: #EDEDED;
  padding: 1rem; }

.formulario__titulo {
  margin-top: 2rem;
  margin-bottom: 2rem; }
