$bg-color: #FFFFFF;
$color-principal: #009EB3;
$color-secundario: #FF913D;
$color-intro: #e4e3e3;
$color-font: #FFFFFF;
$color-font-s: #0e0e0e;
$color-font-h: #272727;


* { margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;}

body {background-color: $bg-color;}

.header {
    background-color: $bg-color;
    float: relative;
    padding: 0; 
    margin-bottom: 0px;
    width: 100%;
    height: auto;
}

a:hover {
    color: $color-font-s;
}

  
a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

p {
    color:#0e0e0e;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

.portada {
    width: auto;
    height: 31rem;
    padding: 5%;
    background-image: url(../images/tim-gouw-1K9T5YiZ2WU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-position: top;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75% 25%;
    h1 {
        margin-left: 10%;
        padding: 1rem;
        font-size: 4rem;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: bolder;
        color: $color-font;
        text-shadow: 3px 3px 0px #0e0e0e;
        align-self: center;
    }
}

.intro-pagina {
    padding-top: 1.2rem;
    padding-bottom: 2.4rem;
    padding-left: 12rem;
    padding-right: 12rem;
    background-color: $color-intro;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    color:$color-font-s;
        h2 {
        padding: 1.2rem;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        }
        p {            
            font-size: 1.2rem;
            line-height: 1.5;
            text-align: center;
            margin-bottom: 0rem;
            }
}

.footer {
    width: 100%;
    height: auto;
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-size: 1rem;
    text-align: left;
    color: $color-font-s;
    text-align: center;
    display: flex;
    background-color: $color-secundario;
    align-items: center;
    p {
        margin-bottom: 0rem;
        color:#0e0e0e;
        line-height: 1.5;
        
    }
    a {
        margin-left: auto;
        cursor: pointer;
        font-weight: bold;
    } 
}

@media (max-width: 1200px) {
    .intro-pagina {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

@media (max-width: 992px) {
    .portada h1 {
        font-size: 3.5rem;
        text-align: left;
        }
    .intro-pagina {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    
}

@media (max-width: 576px) {
    .portada h1 {
        font-size: 2.8rem;
        text-align: left;
        }
    .row {
        width: 80%;
        }
    .intro-pagina {
        padding-left: 4rem;
        padding-right: 4rem;
        }
    }




  