$bg-color: #FFFFFF;
$color-principal: #009EB3;
$color-secundario: #FF913D;
$color-font: #FFFFFF;
$color-font-s: #0e0e0e;
$color-font-h: #272727;


* { margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;}

body {background-color: $bg-color;}

.header {
    background-color: $bg-color;
    float: relative;
    padding: 0; 
    margin-bottom: 0px;
    width: 100%;
    height: auto;
}

a:hover {
    color: $color-font-s;
}

  
a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

p {
    color:#0e0e0e;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

.portada {
    width: auto;
    height: 410px;
    padding: 5%;
    background-image: url(../images/tim-gouw-1K9T5YiZ2WU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-position: top;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75% 25%;
    .portada__titulo {
        margin-left: 10%;
        padding: 10px;
        font-size: 60px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: bolder;
        color: $color-font;
        text-shadow: 3px 3px 0px #0e0e0e;
        align-self: center;
    }
}

.intro-pagina {
    padding: 20px;
    background-color: #EDEDED;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    color:$color-font-s;
        .intro-pagina__titulo {
        margin-bottom: 20px;
        padding: 20px;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        }
        p {
            padding-left: 30px;
            padding-right: 30px;
            font-size: 1.2rem;
            line-height: 1.5;
            text-align: center;
            }
}

.intro-slides {
    text-align: center;
    margin-bottom: 50px;
}

.footer {
    width: 100%;
    height: auto;
    padding: 20px;
    margin-bottom: 0;
    font-size: 1rem;
    text-align: left;
    color: $color-font-s;
    text-align: center;
    display: flex;
    background-color: $color-secundario;
    align-items: center;
    .footer__texto {
        margin-bottom: 0rem;
        color:#0e0e0e;
        line-height: 1.5;
        
    }
    .footer__ayuda {
        margin-left: auto;
        cursor: pointer;
    } 
}

@media (max-width: 576px) {
    .portada .portada__titulo {
        font-size: 45px;
        text-align: left;
        }
    .row {
        width: 80%;
        }

    }



  