.formulario {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    background-color: #EDEDED;
    padding: 1rem;
    box-shadow: 2px 2px 2px 2px #7c7c7c ;
}

.formulario__titulo {
    margin-top: 2rem;
    margin-bottom: 2rem;
}