.formulario {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    background-color: #EDEDED;
    padding: 1rem;
}

.formulario__titulo {
    margin-top: 2rem;
    margin-bottom: 2rem;
}