.portada.ejemplos {
    background-image: url(../images/leon-vbxyFxlgpjM-unsplash.jpg);
}
.ejemplos__section {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.ejemplos__post {
    text-align: center;
    p{
        padding: 1rem;
        text-align: justify;
        line-height: 1.5;
        font-size: 1rem;
        margin-bottom: 0px;
    }
    a {
        font-weight: bold;
        text-decoration: underline;
    }
    .ejemplo__imagen {
        width: 20rem;
        height: auto;
        margin-bottom: 1rem;
        align-self: center;
        grid-row: 1 / 4;
        box-shadow: 2px 2px 2px #7c7c7c ;
    }
    .ejemplo__descripcion {
        grid-area: box__4;
        grid-column-start: 2;
        justify-content: center;
        align-self: center;
    }
    
    .ejemplos__titulo {
        padding: 1.5rem;
        text-align: center;
        color: $color-secundario;
        font-weight: bold;
        text-transform: uppercase;
    }
} 
