.portada.metodologias {
    background-image: url(../images/leon-Oalh2MojUuk-unsplash.jpg);
}   
.metodologias__videos {
    padding: 3rem;  
    margin-top: 2rem;
    margin-bottom: 2rem;
    .metodologias__descripcion {
        align-self: center;
        margin-right: 0rem;
        margin-left: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }   
    .metodologias__descripcion-left {
        align-self: center;
        margin-right: 3rem;
        margin-left: 0rem;
    }
    h3 {
        font-size: 2.5rem;
        color: $color-secundario;
        font-weight: bold;
        padding-bottom: 1.3rem;
    } 
    p {
        text-align: left;
        margin-bottom: 0rem;
        color:#0e0e0e;
    }
    a {
        text-decoration: underline;
        font-weight: bold;
    }
}

.ratio {
    box-shadow: 3px 3px 3px #7c7c7c ;
}

.offcanvas-body p{
    text-align: left;
}

@media (max-width: 768px) {
    .metodologias__videos {
        margin-right: auto;
        .metodologias__descripcion {
            align-self: center;
            margin-left: 0rem;
        }
    }    
        }
        .metodologias__descripcion-left {
            margin-bottom: 1.5rem;
        }
    