.portada.metodologias {
    background-image: url(../images/leon-Oalh2MojUuk-unsplash.jpg);
}   
.metodologias {
    padding: 3rem;    
    .metodologias__descripcion {
        align-self: center;
        margin-right: 2rem;
        padding-top: 1rem;
    }
    .metodologias__descripcion-titulo {
        color: $color-secundario;
    }  
    .metodologias__descripcion-p {
        padding: auto;
        text-align: left;
        color:#0e0e0e;
    }  
}